nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 240px;
    background-color: var(--black2);
    border-right: 1px solid var(--grey3);
    transition: width 0.3s, min-width 0.3s;

    @media(max-width: 1450px) {
        min-width: 65px;
        width: 65px;
    }
}

/* Styles for the sidebar heading */
h2 {
    margin-left: 45px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-size: var(--font-medium);
    color: var(--white);
    transition: color 0.3s;

    @media(max-width: 1450px) {
        color: transparent;
    }
}

h2 .icon {
    position: absolute;
    left: 15px;
    width: 35px;
    height: 35px;
}

/* Styles for links */
.pagelinks li {
    position: relative;
    padding-left: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagelinks li.selected, .pagelinks li:hover {
    background-color: rgba(255 255 255 / 8%);
}

.pagelinks li a {
    display: block;
    padding: 10px;
    padding-left: 65px;
    width: 100%;
    height: 100%;
    font-size: var(--font-small);
    font-weight: 500;
    color: var(--grey);
    white-space: nowrap;
    transition: color 0.3s;

    @media(max-width: 1450px) {
        color: transparent;
    }
}

.pagelinks li.selected .selectedindicator {
    position: absolute;
    left: 0;
    top: 10px;
    border-radius: 0 5px 5px 0;
    height: calc(100% - 20px);
    width: 5px;
    background-color: var(--secondary);
}

.pagelinks li.selected a {
    color: var(--white);
    transition: color 0.3s;

    @media(max-width: 1450px) {
        color: transparent;
    }
}

.pagelinks li .icon {
    position: absolute;
    left: 0;
    top: 8px;
    height: 35px;
    width: 60px;
    color: var(--grey);
}

.pagelinks li.selected .icon {
    color: var(--white);
}

/* Styles for leagues section */
.leagues {
    padding: 20px;
}

.leagues div {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.leagues div:hover::after {
    /* Pseudo element tooltip */
    content: 'Make league';
    position: absolute;
    left: calc(100% + 15px);
    width: 110px;
    height: 30px;
    background-color: var(--grey3);
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    font-size: var(--font-xsmall);
    font-weight: 500;
    color: var(--white);
}

.leagues p {
    font-size: var(--font-small);
    color: var(--grey);
    transition: color 0.3s;

    @media(max-width: 1450px) {
        color: transparent;
        width: 0;
    }
}

.leagues .icon {
    width: 25px;
    height: 25px;
    font-size: var(--font-small);
    color: var(--secondary);
}

.leagues ul {
    margin-top: 10px;
    border-bottom: 2px solid var(--grey);
}

/* Styles for profile section */
.profile {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: auto;
    background-color: var(--black1);
    border-radius: 15px 15px 0 0;
    height: 65px;
    cursor: pointer;
}

.profile .usericon {
    margin-left: 20px;
    height: 25px;
    font-size: var(--font-small);
    color: var(--grey);
}

.profile p {
    width: 70px;
    text-align: right;
    color: var(--white);
    font-size: var(--font-xsmall);
    font-weight: 600;
    transition: color 0.3s;

    @media(max-width: 1450px) {
        color: transparent;
        width: 0;
    }
}

.profile .gearicon {
    height: 25px;
    width: 60px;
    margin-left: auto;
    font-size: var(--font-xsmall);
    font-weight: 600;
    color: rgba(70 85 135 / 50%);
    transition: color 0.3s;

    @media(max-width: 1450px) {
        color: transparent;
        width: 0;
    }
}

.profile:hover .gearicon {
    color: rgb(70 85 135);
}


.profile:hover::after {
    /* Pseudo element tooltip */
    content: 'Settings';
    position: absolute;
    left: calc(100% + 15px);
    width: 75px;
    height: 30px;
    background-color: var(--grey3);
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    font-size: var(--font-xsmall);
    font-weight: 500;
    color: var(--white);
}