.rightpanel h3 {
    padding: 20px;
    font-size: var(--font-small);
    font-weight: 600;
    color: var(--grey);
}

.rightpanel li {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.rightpanel li:hover {
    background-color: rgba(0 0 0 / 10%);
}

.rightpanel li .username {
    display: inline-block;
    height: 18px;
    padding: 2px;
    background-color: rgba(255 187 0 / 50%);
    font-size: var(--font-xsmall);
    font-weight: 400;
    line-height: 14px;
    color: var(--white);
}

.rightpanel li .message {
    color: var(--grey1);
    font-size: var(--font-xsmall);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}