.heading {
    display: flex;
    align-items: center;
    gap: 20px;
}

.heading h1 {
    font-size: var(--font-medium);
    color: var(--white);
}

.heading p {
    font-size: var(--font-xsmall);
    color: var(--grey);
}